/*====Header===*/
.logo-img{
    margin-left: 150px;
    margin-top: 55px;
    display: inline-block;
    vertical-align: middle;
}
.main-nav{
    display: inline-block;
    margin-left:100px;;
    margin-top: 55px;
    vertical-align: middle;
}
.nav-li{
    display: inline-block;
    margin-left: 70px;
}
.nav-a{
    font-family: 'Open Sans';
    color: black;
    font-size: 17px;
}
.active{
    border-bottom: 3px solid #717CFF;
}
.apply{
    border: 2px solid #717CFF;
    border-radius: 10px;
    padding: 10px 33px;
}

/*=====Section====*/
.dream{
    margin-top: 155px;
    margin-left: 150px;
    display: inline-block;
    vertical-align: middle;
}
.dream-h1{
    font-size: 56px;
    width: 632px;
    font-family: 'Open Sans';
}
.build{
    color:#717CFF;
}
.dream-p{
    margin-top: 55px;
    height: 80px;
    width: 632px;
    line-height: 35px;
}
.apply-div{
    margin-top: 38px;
    width: 262px;
    height: 64px;
    background-color: #717CFF;
    border: 2px solid #717CFF;
    border-radius: 15px;
}
.girl{
    margin-top: 155px;
    margin-left: 40px;
    height: 500;
    width: 400;
    display: inline-block;
    vertical-align: middle;

}
.social-ul{
    margin-top: 106px;

}
.social-li{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
.featured-h1{
    font-family: 'Open Sans';
    text-align: center;
    text-transform: uppercase;
}
.featured{
    margin-top: 65px;
}
.featured-ul{
    margin-top: 60px;
    margin-left: 150px;
}
.featured-li{
    margin-left: 75px;
    display: inline-block;
}
.featured-ul :first-child{
    margin-left: 0;
}